body {
    font-family: "clear sans", "helvetica neue", Arial, sans-serif;
}

@keyframes cell-fade-in {
    from { 
        color: rgb(119, 110, 101, 0);
    }
    to { 
        color: rgb(119, 110, 101, 1);
    }
}

.page-container {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.direction-buttons-container {
    display: none;
}

#game-title {
    font-family: "Montserrat", sans-serif;
    font-size: 300%;
}

#swipe-usage-prompt {
    margin-bottom: 5%;
}

#support-direction-buttons button, .direction-buttons-container button {
    height: 5em;
    width: 5em;
}

#game-board, #game-board td {
    border: 1px solid black;
}

#game-board {
    width: fit-content;
    border-spacing: 0.75em;
    background-color: #d7bfa8;
    border-radius: 6px;
}

#game-board td {
    table-layout: fixed;
    height: 4em;
    width: 4em;
    padding: 0.2em;
    overflow: hidden;
    word-wrap: break-word;
    text-align: center; 
    vertical-align: middle;
    font-size: 130%;
    background-color: #eee4da;
    border-radius: 3px;
    animation: cell-fade-in 200ms forwards ease
}

#game-over {
    visibility: hidden;
    font-size: 100%;
    color: red;
}

#reset-button, #toggle-direction-button {
    min-height: 5em;
    min-width: 10em;
    text-align: center;
}

#support-direction-buttons {
    display: none;
    margin-bottom: 10%;
}

@media only screen and (min-width: 992px) {
    #game-title {
        font-size: 500%;
    }

    .direction-buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #direction-buttons-usage-prompt {
        margin-bottom: 20%;
    }

    #swipe-usage-prompt {
        display: none;
    }

    #game-board {
        border-spacing: 1em;
    }

    #game-board td {
        height: 4.5em;
        width: 4.5em;
        font-size: 180%;
    }

    .game-score-container {
        display: flex;
        justify-content: center;
        width: 50%;
    }

    #game-over {
        font-size: 150%;
    }

    #toggle-direction-button {
        display: none;
    }
}